extends base/layout


block otherhead



block content

  #main
    .container

      .intro
        .padding
          p
            b MeetHub  
            | &egrave; una 
            span.text-azure
              | startup 
            | che aiuta i giovani laureandi e neo-laureati a capire cosa vogliono fare nella 
            span.text-azure vita 
            | e ad acquisire le 
            span.text-azure competenze 
            span.text-azure pratiche e sociali 
            | per trasformare le proprie passioni in occupazione o impresa

      .spacer-100

      .three
        .padding

          h1
            span
              | cosa facciamo
            .spacer-80

        .single-one
          .padding  
            .circle.text-center
              i.fa.fa-flask
            h3
              | Lavoro di squadra
            p
              | Dimostra le tue capacità! Proponi e sviluppa <b>soluzioni digitali innovative</b> per le aziende partner
              //- | Mettiti in gioco risolvendo in modo <b>innovativo</b> i problemi delle nostre aziende partner
              br
              //- span.text-azure #appyourself
            p.link-scroll(data-where-to='mailchimp')
              | Scopri di più e candidati!

        .spacer-100

        .single-one
          .padding  
            .circle.text-center
              i.fa.fa-code
            h3
              | Formazione digitale

            .pure-g
              .pure-u-md-1-2.pure-u-1
                .cbase
                  p
                    b Corsi brevi
                    br
                    | Sei laureando in economia, in lingue, in geologia o in lettere? Vorresti capire qualcosa quando si parla di <b>app</b>, <b>siti web</b> e <b>social media marketing</b>?
                    p.link-scroll(data-where-to='mailchimp')
                      | Resta aggiornato!

              .pure-u-md-1-2.pure-u-1
                .cavanzati
                  p
                    b Corsi avanzati
                    br
                    | Sei laureando o neo-laureato in informatica? Approfondisci e metti in <b>pratica</b> le tue conoscenze di <b>design</b> e <b>programmazione</b>!
                  p.link-scroll(data-where-to='mailchimp')
                    | Resta aggiornato!

        .spacer-100

        .single-one
          .padding  
            .circle.text-center
              i.fa.fa-users
            h3
              | Startup caf&egrave;
            p
              | Stiamo costruendo un <b>luogo</b> dove ogni persona, studente o laureato possa recarsi e avere accesso <b>gratuitamente</b> a tutto ciò che è indispensabile per dare vita alle proprie <b>idee</b> e condividere le proprie <b>conoscenze</b>

            p.link-scroll(data-where-to='mailchimp')
              | Restiamo in contatto!

      .spacer-100



    //-
      #quote
        .text
          .container
            .padding.text-center
              cite 
                span &laquo; 
                | There's only one thing that all the successful companies in the world have in common: <b>none was started by one person</b>. 
                span &raquo;
              .spacer-30
              p.author.text-right
                | Ernesto Sirolli


    #team
      .container

        .spacer-50
        
        .padding
          h1
            span
              | il nostro team
          p
            | Siamo sei ragazzi che credono fortemente nella <b>condivisione</b> e nel <b>gioco di squadra</b>

        .spacer-50

        .team.pure-g

          - var team = [{'nome': 'Andrea Speziale', 'job': 'Head of Communication', 'pic': 'andrea', 'fb': 'http://fb.com/andreafspeziale', 'tw': 'http://twitter.com/andreafspeziale', 'li': 'http://linkedin.com/in/andreafspeziale'},{'nome': 'Mauro Bolis', 'job': 'Head of Training', 'pic': 'mauro', 'fb': 'http://fb.com/bolismauro', 'tw': 'http://twitter.com/maurobolis', 'li': 'http://linkedin.com/profile/view?id=156968743'},{'nome': 'Simone Lusenti', 'job': 'Account', 'pic': 'simone', 'fb': 'http://fb.com/slusenti', 'tw': 'http://twitter.com/Lanzone31', 'li': 'http://linkedin.com/profile/view?id=39084654'},{'nome': 'Salvatore Scarfò', 'job': 'Marketing & Finance', 'pic': 'salvo', 'fb': 'http://fb.com/scarfo.s', 'tw': 'http://twitter.com/Scarfo_S', 'li': 'http://linkedin.com/in/salvatorescarfo'},{'nome': 'Emanuele Brivio', 'job': 'Head of Design and Interaction', 'pic': 'emanuele', 'fb': 'http://fb.com/emanbrivio', 'tw': 'http://twitter.com/emanbrivio', 'li': 'http://linkedin.com/in/emanuelebrivio'},{'nome': 'Alessio Zappa', 'job': 'Senior Media Designer', 'pic': 'alessio', 'fb': 'http://fb.com', 'tw': 'http://twitter.com', 'li': 'http://linkedin.com/in/alessioedoardozappa'}];

          - for m, k in team

            .team-member.pure-u-sm-1-2.pure-u-1
              .padding
                .circle
                  img(src='static/img/team/#{m.pic}.jpg', alt='#{m.nome}')
                  .hover-circle(style="background-image:url('static/img/team/#{m.pic}_hover.jpg')")
                .text
                  h4 
                    span #{m.nome}
                  h5 #{m.job}
                  .socials
                    a(href='#{m.fb}', target='_blank')
                      i.fa.fa-facebook
                    a(href='#{m.tw}', target='_blank')
                      i.fa.fa-twitter
                    a(href='#{m.li}', target='_blank')
                      i.fa.fa-linkedin

        .spacer-50

  #contacts
    .container

      .spacer-50

      .padding

        //-h1.text-center
          span
            | keep in touch
        p
          | Crediamo che la vera <b>innovazione</b> sia fatta dalle <b>persone</b>, immaginate un luogo dove rimodellare ogni giorno la vostra <b>realtà</b>, dove <b>condividere</b> il sapere e <b>imparare</b> dagli altri!

        form#mailchimp.validate.pure-form.validate(action='http://meethub.us8.list-manage2.com/subscribe/post?u=979a6993e64ffa1ec057b0823&amp;id=a116ce73c0', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate)
          br
          p
            | Figo, vero?! Parliamone davanti a un caff&egrave;!
          .form-inputs
            input#mce-EMAIL(type='email', value='', name='EMAIL', placeholder='Inserisci il tuo indirizzo email', required)
            button(type='submit')
                i.fa.fa-check
                span Resta aggiornato

      .spacer-100


block scripts
